.menu {
    text-decoration: none;
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.title {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
}

.main_sec_title {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.my_foto {
    border-radius: 10px;
    width: 100px;
}

.input_form {
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
}

.button_form {
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

body {
    font-family: sans-serif;
}